.box-container {
         
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

 }

 .radiobtn {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid #0f0a09 ;
    color: #0f0a09;
    cursor: pointer;
    background: none;

 }


 .radiobtn:hover {
    background: orangered;
    color: #fff;
 }